<html>
    <head>
        <link href = "../assets/style.css" type="text/css" rel="stylesheet" /> 
    </head>
    <body>
        <h1>Person (from template): <%=id%></h1>
        <h2>Querystring value: <%=querystring%></h2>
    </body>
</html>